$slider-width: 300px;

.Follow {
  // overflow-x: hidden;
  .form-label {
    width: 100%;
    font-size: 13.5px;
    margin-bottom: 5px;
    line-height: 35px;

    input {
      display: inline-block;
      max-width: 60px;
      width: 100%;

      margin-right: 5px !important;
      margin-left: 5px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    > * {
      display: inline-block !important;
    }
  }

  &-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }

  &-slider > * {
    max-width: $slider-width;
    margin-right: 15px;
  }

  .range-slider__wrap {
    max-width: $slider-width;
    width: 100%;
  }

  &-inputs {
    display: flex;
    flex-direction: row;

    > * {
      flex: 50%;
      max-width: 90px;
      margin-right: 10px !important;
    }
  }

  &-options {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

    & > * {
      flex: 50%;
      width: 100%;
      max-width: 100%;

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    .Follow-inputs {
      display: flex;
      flex-direction: row;
    }
  }

  &-hr {
    opacity: 1 !important;
    background: #e1e1e1 !important;
  }

  &-label {
    margin-bottom: 5px;
  }

  &-text-separator {
    text-align: center;
  }
}
