$slider-width: 300px;

.Unfollow {
  &-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }

  &-slider > * {
    max-width: $slider-width;
    margin-right: 15px;
  }

  .range-slider__wrap {
    max-width: $slider-width;
    width: 100%;
  }

  .form-label {
    width: 100%;
    font-size: 13.5px;
    margin-bottom: 5px;
    line-height: 35px;
    width: 100%;
    display: block;
    margin: 0;
    min-width: 100%;
    max-width: 100%;

    input {
      display: inline-block !important;
      max-width: 100px;
      width: 100%;

      margin-right: 5px !important;
      margin-left: 5px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}
