/* */
#ezgram {
  * {
    color: black;
  }
  .input-group {
    flex-direction: row;
  }

  & ~ .modal {
    z-index: 99999;
  }
}

#ezgram-iframe {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999999999999999999999 !important;
  width: 500px;
  height: 500px;
  border: 1px solid gray;
}

.Toastify__toast-container {
  z-index: 999999 !important;
}

/* Add counter to following list users */
[style*='signup']
  div[style]
  > div[role]
  + div
  [style*='position'][style*='padding'] {
  counter-reset: followinglist;
}

[style*='signup']
  div[style]
  > div[role]
  + div
  [style*='position'][style*='padding']
  > * {
  position: relative;
}

[style*='signup']
  div[style]
  > div[role]
  + div
  [style*='position'][style*='padding']
  > *:before {
  margin-right: 10px;
  font-size: 14px;
  counter-increment: followinglist;
  content: counter(followinglist);
}
